extends: default
ignore: |
  home-assistant/config/automations.yaml
  home-assistant/config/scripts.yaml
  home-assistant/config/scenes.yaml
  home-assistant/config/blueprints/
rules:
  line-length:
    max: 200
  document-start: disable
  truthy:
    check-keys: false
  comments-indentation: disable
  comments:
    require-starting-space: false
