{
    email mail@alexandrurosu.com
    admin off
}

(cf_tls) {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

stuypi.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:3000
}

home.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:8123 {
        flush_interval -1
    }
}

watch.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:32400 {
        flush_interval -1
    }
}

photos.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:2283
}

status.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:3001
}

metrics.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:8090
}

speedtest.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:8080
}

pihole.alexandrurosu.com {
    import cf_tls
    @root path /
    redir @root /admin 302
    reverse_proxy localhost:8083
}

recipes.alexandrurosu.com {
    import cf_tls
    reverse_proxy localhost:9925
}
